// COLOURS

$white: #fff;

$white-brown: #dad0cc;
$brown-pale: #968b87;
$brown-light: #655a56;

$white-blue: #f0f5ff;
$blue-pale: #a7c8fc;
$blue-light: #87b4fc;
$blue-dark: #3a86ff;

$white-yellow: #fcfdf1;
$yellow-pale: #f7fcc5;
$yellow-light: #ffe3bd;
$yellow-dark: #ffd79e;

$white-green: #fafdfb;
$green-pale: #d3f8e6;
$green-light: #9effcf;
$green-dark: #7ff5ba;

$pink-pale: #f8d5d2;
$pink-light: #ffa69e;
$pink-dark: #ff686b;

// BORDER RADIUS
$default-border-radius: 6px;
