.header {
	grid-area: head;
	background-color: $white-green;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__logo {
		margin-left: 4rem;
		max-height: 6rem;
		display: block;
	}
}
