.container {
	max-width: 120rem;
	margin: 4vw auto;
	background: $white;
	border-radius: $default-border-radius;
	box-shadow: 0 2rem 6rem 0.5rem rgba($brown-light, 0.2);

	display: grid;
	grid-template-rows: 10rem minmax(100rem, auto);
	grid-template-columns: 1.1fr 2fr 1.1fr;
	grid-template-areas: 'head head head' 'list recipe shopping';

	@media only screen and (max-width: 68.75em) {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
}
